-i https://mirrors.huaweicloud.com/repository/pypi/simple

# network
requests

# env
envparse
python-dotenv

# processing
jieba
pandas

# file
pyyaml

# log
glogcenter
colorlog

# Pyqt
# PyQt5
# PyQt5-tools
# qt5_applications
# PySide6

# opencv
opencv-python
opencv-contrib-python

#pycan
python-can
cantools

# Others
pyserial
psutil
scipy
geopy
netifaces
matplotlib
selenium
bs4
comtypes
zhdate
weditor==0.6.4
uiautomator2
# dlib
