-i https://mirrors.huaweicloud.com/repository/pypi/simple

# FXB Develop the full Python Pip library.
# It contains ROS, system, software needed.

# Ros
# Windows Nonsupport

# ProtoBuf
protobuf==5.27.3

# Others Full
requests
pyyaml
pyserial
python-can
cantools
pyyaml
geopy
scipy
pyproj
pexpect
paramiko
colorlog
paho-mqtt
